S3method(biplot,bfa)
S3method(mean,bfa)
S3method(print,bfa)
export(bfa_copula)
export(bfa_gauss)
export(bfa_mixed)
export(corr.samp)
export(get_coda)
export(plot_loadings)
export(reg.samp)
export(utri_restrict)
export(woodbury)
useDynLib(bfa)
