useDynLib(bfa)
export(utri_restrict)
export(print.bfa)
export(mean.bfa)
export(var.bfa)
export(get_coda)
export(bfa_gauss)
export(bfa_copula)
export(bfa_mixed)
export(plot_loadings)
export(biplot.bfa)
export(woodbury)
export(reg.samp)
export(corr.samp)
